@import url('https://rsms.me/inter/inter.css');

@font-face {
	font-family: 'Jellee';
	font-style: normal;
	font-weight: 400;
	src: url('../../fonts/jellee.woff2') format('woff2'),
		url('../../fonts/jellee.woff') format('woff');
}
